<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" th:href="@{/css/materialize.min.css}" />
		<link rel="stylesheet" th:href="@{/css/styles.css}" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<title>Register</title>
	</head>
	<body>
		<div th:if="${error}" class="error">
			<p th:text="${error}"></p>
		</div>
		<form th:action="@{/register}" method="post">
			<label for="username">Username:</label>
			<input type="text" name="username" required />
			<label for="email">Email:</label>
			<input type="email" name="email" required />
			<label for="password">Password:</label>
			<input type="password" name="password" required />
			<label for="confirmPassword">Confirm password:</label>
			<input type="password" name="confirmPassword" required />
			<button type="submit">Register</button>
		</form>
		<div>
			<p>Already have an account? <a href="/loginToGame">Login here</a></p>
		</div>
		<script th:src="@{/js/materialize.min.js}"></script>
	</body>
</html>
